.mat-raised-button{
    margin: 0;
    min-width: 30px;
    line-height: 36px;
    padding: 0 7px;
    margin-right: 5px;
  }
  .mat-icon {
    height: 26px;
    width: 21px;
  }
  mat-card{
    border-radius: 15px;
  }
  mat-label{
    font-weight: 400;
  
  }
  .mat-dialog-container{
    width: 730px !important;
    height: 340px !important;
  }
  .all_btns{
      margin-right: 5px;
  }
