.row{
    margin-left: 0px;
    margin-right: 0px;
}
.icons_top{
    margin-top: 20px;
}
.left_icns{
    margin-right: 5px;
}

.example-section {
    margin: 12px 0;
    
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
  .card_top{
      margin-top: 30px;
      background-color: #E5E5E5;
      
      border-radius: 5px;
  }